doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="css/style.min.css")
  body
      header  Lorem ipsum dolor sit amet
      div(class="contenedor")
          nav
              ul
                  li
                      a(href="#") Item
                  li
                      a(href="#") Item
                  li
                      a(href="#") Item
                  li
                      a(href="#") Item
          main
             article
                 header 
                     h2 It is a title 
                     time dd/mm/yy
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto obcaecati possimus doloremque, sint iure nam ipsam sequi, sed esse porro pariatur architecto ad beatae vero, iste dolore officia dolorum quibusdam.
                 footer 
                     span Etiqueta 1
                     span Etiqueta 2
                     span Etiqueta 3
                 article #[time dd/mm/yy] <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, consequatur saepe at eius ipsam itaque, dolores quibusdam assumenda repellendus eos veritatis. At consequatur, aut dicta voluptates quo cumque quae voluptatem.
                     
                 article  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                 input(type="text" placeholder="coment")
             article
                 header 
                     h2 It is a title 
                     time dd/mm/yy
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto obcaecati possimus doloremque, sint iure nam ipsam sequi, sed esse porro pariatur architecto ad beatae vero, iste dolore officia dolorum quibusdam.
                 footer 
                     span Etiqueta 1
                     span Etiqueta 2
                     span Etiqueta 3
                 article #[time dd/mm/yy] <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, consequatur saepe at eius ipsam itaque, dolores quibusdam assumenda repellendus eos veritatis. At consequatur, aut dicta voluptates quo cumque quae voluptatem.
                     
                 article  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                 input(type="text" placeholder="coment")
             article
                 header 
                     h2 It is a title 
                     time dd/mm/yy
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto obcaecati possimus doloremque, sint iure nam ipsam sequi, sed esse porro pariatur architecto ad beatae vero, iste dolore officia dolorum quibusdam.
                 footer 
                     span Etiqueta 1
                     span Etiqueta 2
                     span Etiqueta 3 
                 article #[time dd/mm/yy] <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, consequatur saepe at eius ipsam itaque, dolores quibusdam assumenda repellendus eos veritatis. At consequatur, aut dicta voluptates quo cumque quae voluptatem.
                     
                 article  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                 input(type="text" placeholder="coment")
        footer It is a footer!
   